**Function**

In [5]:
def swap(x , y):
    return y , x

a = 12
b = 13
print(f'Before swaping the value: {a} , {b}')
a,b = swap(a , b)
print(f'After swaping the value: {a} , {b}')

Before swaping the value: 12 , 13
After swaping the value: 13 , 12

In [6]:
def display_info(name , age , children , status):
    message = f'{name} has {children} childern, is {age} years old and {status}'
    print(message)

In [7]:
display_info('Hari Badahur' , 50 , 2 , 'married')
#Order matters if not specified

Hari Badahur has 2 childern, is 50years old and married

In [11]:
def display_info(name , age , children  = 0, status = 'Alive'):
    message = f'{name} has {children} childern, is {age} years old and {status}'
    print(message)

display_info('Hari Badahur' , 10)

Hari Badahur has 0 childern, is 10 years old and Alive

In [12]:
display_info('Laxmi Parsad Devkota' , 100 , 4 , 'Dead')

Laxmi Parsad Devkota has 4 childern, is 100 years old and Dead

In [15]:
def add(a : int, b :int):#type hinting
    print(f'{a} + {b} = {a + b}')

In [16]:
add(5  ,6)

5 + 6 = 11

In [18]:
add('hi' , 'hello')

hi + hello = hihello

In [19]:
type(88) is int

True

In [20]:
def add (a : int , b : int):#type hinting
    if (type(a) is int) and (type(b) is int):#
        return a + b
    raise TypeError('Expected input datatype int but got another datatype')

In [21]:
add(5 , 6)

11

In [22]:
add('hi' , 'hello')

TypeError: Expected input datatype int but got another datatype

In [23]:
add(4 , 'hi')

TypeError: Expected input datatype int but got another datatype

In [24]:
def divide(a , b):
    if b==0:
        raise ZeroDivisionError('Denominator must not be zero: ')
    return a / b

In [29]:
divide(2 , 2)

1.0

**Lamda Function**
```python
func_name = lambda arguments: calculations
```

In [30]:
#def double_num(x):
 #   return x * 2
    
double_num = lambda x : x * 2

In [31]:
double_num(8)

16

In [32]:
#Using function calculate the area of four walls (lambda)
area = lambda l , b , h : 2*h*(l + b)

In [36]:
area(2,5,5)

70

In [40]:
area_peri =lambda r:(3.14*r**2 , 2*3.14*r)

In [41]:
area_peri(7)

(153.86, 43.96)

In [43]:
def some_empty_function(arg1 , agr2 , ):
    pass

In [45]:
if 2 > 3:
    pass

In [49]:
def parent_function():
    def child_function1():
        pass
    def child_function2():
        print('I am child function 2')
    def child_function3():
        print('I am child function 3')
        
        
    child_function1()
    child_function2()
    child_function3()

In [50]:
parent_function()

I am child function 2
I am child function 3

**Compute the factrioal of n digits**

In [70]:
def factrioal(a):
    if(a==0):
        return 1
    fac = 1
    for i in range(1 , a+1):
        fac *= i
    return fac

In [71]:
print(f'The facfactrioal(5)

120

In [63]:
factrioal(3)

6

In [64]:
factrioal(0)

1

In [69]:
factrioal(20)

2432902008176640000