In [1]:
class Polygon():
    def __init__(self , sides , side_length):
        self.sides = sides
        self.side_length = side_length
        
    def perimeter(self,):
        return self.sides*self.side_length

In [2]:
from math import sqrt

In [3]:
class triangle(Polygon):
    def __init__(self ,length):
        self.name = 'triangle'
        super().__init__(3 , length)
        
    def area(self,):
        a = sqrt(3)/4*self.side_length**2
        return a
class Hexagon(Polygon):
    def __init__(self , length):
        self.name ='Hexagon'
        self.length = length
        super().__init__(6 , length)
    def area_of_hexagon(self,):
        a = 3*sqrt(3)*self.side_length**2/2
        return a

In [4]:
hexa = Hexagon(5)

In [5]:
hexa.area_of_hexagon()

64.9519052838329

In [6]:
!python --version

Python 3.11.3

**Ramdom In Python**

In [7]:
import random

In [8]:
random.seed(12)

In [9]:
random.randint(1 , 10) #randint(min , max)

8

In [10]:
[random.randint(1 , 100)for i in range(10)]

[35, 85, 68, 86, 45, 19, 49, 2, 48, 62]

In [11]:
moves = ['up' , 'down' , 'left' , 'right']

In [12]:
random.choice(moves)

'left'

In [13]:
random.choices(moves , k = 3)

['left', 'down', 'right']

**Permutation and combinatoins**

# Permutation = $\frac{n!}{n-r}!$
# combination = $\frac{n!}{(n-r)!r!}$

In [14]:
from itertools import permutations , combinations

In [15]:
names = ['Anuradha Maam' , 'Babu Rao' , 'Raju' , 'Babu Bhaiya' , 'Shyam']

In [16]:
permut_list = permutations(names , 3)

In [17]:
permut_list = list(permut_list)
permut_list

[('Anuradha Maam', 'Babu Rao', 'Raju'),
 ('Anuradha Maam', 'Babu Rao', 'Babu Bhaiya'),
 ('Anuradha Maam', 'Babu Rao', 'Shyam'),
 ('Anuradha Maam', 'Raju', 'Babu Rao'),
 ('Anuradha Maam', 'Raju', 'Babu Bhaiya'),
 ('Anuradha Maam', 'Raju', 'Shyam'),
 ('Anuradha Maam', 'Babu Bhaiya', 'Babu Rao'),
 ('Anuradha Maam', 'Babu Bhaiya', 'Raju'),
 ('Anuradha Maam', 'Babu Bhaiya', 'Shyam'),
 ('Anuradha Maam', 'Shyam', 'Babu Rao'),
 ('Anuradha Maam', 'Shyam', 'Raju'),
 ('Anuradha Maam', 'Shyam', 'Babu Bhaiya'),
 ('Babu Rao', 'Anuradha Maam', 'Raju'),
 ('Babu Rao', 'Anuradha Maam', 'Babu Bhaiya'),
 ('Babu Rao', 'Anuradha Maam', 'Shyam'),
 ('Babu Rao', 'Raju', 'Anuradha Maam'),
 ('Babu Rao', 'Raju', 'Babu Bhaiya'),
 ('Babu Rao', 'Raju', 'Shyam'),
 ('Babu Rao', 'Babu Bhaiya', 'Anuradha Maam'),
 ('Babu Rao', 'Babu Bhaiya', 'Raju'),
 ('Babu Rao', 'Babu Bhaiya', 'Shyam'),
 ('Babu Rao', 'Shyam', 'Anuradha Maam'),
 ('Babu Rao', 'Shyam', 'Raju'),
 ('Babu Rao', 'Shyam', 'Babu Bhaiya'),
 ('Raju', 'Anuradha Maam', 'Babu Rao'),
 ('Raju', 'Anuradha Maam', 'Babu Bhaiya'),
 ('Raju', 'Anuradha Maam', 'Shyam'),
 ('Raju', 'Babu Rao', 'Anuradha Maam'),
 ('Raju', 'Babu Rao', 'Babu Bhaiya'),
 ('Raju', 'Babu Rao', 'Shyam'),
 ('Raju', 'Babu Bhaiya', 'Anuradha Maam'),
 ('Raju', 'Babu Bhaiya', 'Babu Rao'),
 ('Raju', 'Babu Bhaiya', 'Shyam'),
 ('Raju', 'Shyam', 'Anuradha Maam'),
 ('Raju', 'Shyam', 'Babu Rao'),
 ('Raju', 'Shyam', 'Babu Bhaiya'),
 ('Babu Bhaiya', 'Anuradha Maam', 'Babu Rao'),
 ('Babu Bhaiya', 'Anuradha Maam', 'Raju'),
 ('Babu Bhaiya', 'Anuradha Maam', 'Shyam'),
 ('Babu Bhaiya', 'Babu Rao', 'Anuradha Maam'),
 ('Babu Bhaiya', 'Babu Rao', 'Raju'),
 ('Babu Bhaiya', 'Babu Rao', 'Shyam'),
 ('Babu Bhaiya', 'Raju', 'Anuradha Maam'),
 ('Babu Bhaiya', 'Raju', 'Babu Rao'),
 ('Babu Bhaiya', 'Raju', 'Shyam'),
 ('Babu Bhaiya', 'Shyam', 'Anuradha Maam'),
 ('Babu Bhaiya', 'Shyam', 'Babu Rao'),
 ('Babu Bhaiya', 'Shyam', 'Raju'),
 ('Shyam', 'Anuradha Maam', 'Babu Rao'),
 ('Shyam', 'Anuradha Maam', 'Raju'),
 ('Shyam', 'Anuradha Maam', 'Babu Bhaiya'),
 ('Shyam', 'Babu Rao', 'Anuradha Maam'),
 ('Shyam', 'Babu Rao', 'Raju'),
 ('Shyam', 'Babu Rao', 'Babu Bhaiya'),
 ('Shyam', 'Raju', 'Anuradha Maam'),
 ('Shyam', 'Raju', 'Babu Rao'),
 ('Shyam', 'Raju', 'Babu Bhaiya'),
 ('Shyam', 'Babu Bhaiya', 'Anuradha Maam'),
 ('Shyam', 'Babu Bhaiya', 'Babu Rao'),
 ('Shyam', 'Babu Bhaiya', 'Raju')]

In [18]:
comb_list = combinations(names ,  3)

In [19]:
comb_list = list(comb_list)
comb_list

[('Anuradha Maam', 'Babu Rao', 'Raju'),
 ('Anuradha Maam', 'Babu Rao', 'Babu Bhaiya'),
 ('Anuradha Maam', 'Babu Rao', 'Shyam'),
 ('Anuradha Maam', 'Raju', 'Babu Bhaiya'),
 ('Anuradha Maam', 'Raju', 'Shyam'),
 ('Anuradha Maam', 'Babu Bhaiya', 'Shyam'),
 ('Babu Rao', 'Raju', 'Babu Bhaiya'),
 ('Babu Rao', 'Raju', 'Shyam'),
 ('Babu Rao', 'Babu Bhaiya', 'Shyam'),
 ('Raju', 'Babu Bhaiya', 'Shyam')]

In [20]:
len(comb_list)

10

In [21]:
len(permut_list)

60

# SQL Practice

In [22]:
import sqlite3

In [23]:
conn = sqlite3.connect('db.sqlite3')

In [24]:
cur = conn.cursor()

In [25]:
create = """
CREATE TABLE IF NOT EXISTS USER(
    ID INTEGER PRIMARY KEY AUTOINCREMENT,
    NAME STRING NOT NULL,
    ADDRESS STRING NOT NULL,
    AGE INTEGER NULL,
    GENDER STRING NULL
);
"""





cur.execute(create)

In [26]:
read = "SELECT *FROM USER;" # SELECTS EVERYTHING FROM USER TABLE
data = cur.execute(read)

In [27]:
data.fetchall()

[]

In [28]:
update = """
INSERT INTO USER('NAME' , 'ADDRESS' , 'AGE')
VALUES('GHANA SHYAM' , 'BHAKTAPUR' , 38 );
"""

cur.execute(update)

In [29]:
update = """
INSERT INTO USER('NAME' , 'ADDRESS' , 'AGE' , 'GENDER')
VALUES('Radha Piyari' , 'BHAKTAPUR' , 45 , 'FEMALE'),
('HARI BAHADUR' , 'KATHMANDU' , 55 , 'Male');
"""

cur.execute(update)

In [30]:
read = "SELECT *FROM USER;" # SELECTS EVERYTHING FROM USER TABLE
data = cur.execute(read)
data.fetchall()

[(1, 'GHANA SHYAM', 'BHAKTAPUR', 38, None),
 (2, 'Radha Piyari', 'BHAKTAPUR', 45, 'FEMALE'),
 (3, 'HARI BAHADUR', 'KATHMANDU', 55, 'Male')]

In [31]:
read = "SELECT NAME , ADDRESS , AGE FROM USER WHERE AGE = 55;" # SELECTS EVERYTHING FROM USER TABLE
data = cur.execute(read)
data.fetchall()

[('HARI BAHADUR', 'KATHMANDU', 55)]

In [32]:
values = [
    ['Rajes Hamal' , 'Saturn' , 18 , 'M'],
    ['Bruce Lee' , 'USA' , 40 , 'M'],
    ['rehds' , 'sddf' , 45 , 'M']
]

In [33]:
values

[['Rajes Hamal', 'Saturn', 18, 'M'],
 ['Bruce Lee', 'USA', 40, 'M'],
 ['rehds', 'sddf', 45, 'M']]

In [34]:
for val in values:
    print(val)
    update = f"""
    INSERT INTO USER('NAME' , 'ADDRESS' , 'AGE' , 'GENDER')
    VALUES('{val[0]}', '{val[1]}' , {val[2]} , '{val[3]}');
    """
    #print(update)
    cur.execute(update)

['Rajes Hamal', 'Saturn', 18, 'M']
['Bruce Lee', 'USA', 40, 'M']
['rehds', 'sddf', 45, 'M']

In [35]:
read = "SELECT *FROM USER;" # SELECTS EVERYTHING FROM USER TABLE
data = cur.execute(read)
data.fetchall()

[(1, 'GHANA SHYAM', 'BHAKTAPUR', 38, None),
 (2, 'Radha Piyari', 'BHAKTAPUR', 45, 'FEMALE'),
 (3, 'HARI BAHADUR', 'KATHMANDU', 55, 'Male'),
 (4, 'Rajes Hamal', 'Saturn', 18, 'M'),
 (5, 'Bruce Lee', 'USA', 40, 'M'),
 (6, 'rehds', 'sddf', 45, 'M')]

In [36]:
delete  ="DELETE FROM USER WHERE ID = 6;"
cur.execute(delete)

In [37]:
read = "SELECT *FROM USER;" # SELECTS EVERYTHING FROM USER TABLE
data = cur.execute(read)
data.fetchall()

[(1, 'GHANA SHYAM', 'BHAKTAPUR', 38, None),
 (2, 'Radha Piyari', 'BHAKTAPUR', 45, 'FEMALE'),
 (3, 'HARI BAHADUR', 'KATHMANDU', 55, 'Male'),
 (4, 'Rajes Hamal', 'Saturn', 18, 'M'),
 (5, 'Bruce Lee', 'USA', 40, 'M')]

In [38]:
cur.close()

# FILE HANDLING
```python
file = open('file_name' , mode)
```

   FILE handling modes:
   * **w** : write into files. Also overwrites the contents
   * **r** : Read files
   * **a** : Append into files, will not overwrite existing data
   * **w+** : write and read data , will overwrite existing data
   * **r+** : read and write data , will overwrite existing data
   * **a+** : Append and read data , will not overwrite existing data

In [41]:
file = open('file.txt' , 'a+')

In [43]:
message = 'giggity \n'*10
print(message)

giggity
giggity
giggity
giggity
giggity
giggity
giggity
giggity
giggity
giggity

In [44]:
file.write(message)

90

In [45]:
file.close()